body {
    margin: 0;
    font-family: inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(180deg, #1a283c 0%, rgba(0, 102, 255, 0.96) 100%);
    color: white;
}

body::-webkit-scrollbar-track {
    border: 5px solid white;
    /* border color does not support transparent on scrollbar */
    border-color: transparent;
    /* background-color: #b2bec3; */
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #dfe6e9;
}

body::-webkit-scrollbar-thumb {
    background-color: #74b9ff;
    border-radius: 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}